@font-face {
  font-family: "iconfont"; /* Project id  */
  /* src: url('iconfont.ttf?t=1692586177430') format('truetype'); */
  src: url('./iconfont.ttf');
  /*为字体规则添加属性font-display*/
  font-display: auto;
  /*默认block，为字体提供一个短暂的阻塞周期和无限的交换周期。
  	font-display支持auto | block | swap | fallback | optional五种值*/
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhuidingbu:before {
  content: "\e633";
}

.icon-fanhuidingbu1:before {
  content: "\e713";
}

.icon-fanhuidingbu2:before {
  content: "\e62d";
}

