cache
node_modules
dist
.history
.idea
.vscode
*.log
*.zip
*.rar
*.7z
*.tar.gz
*.tar.bz2
*.tar.xz
*.gz
*.bz2
*.xz
*.zip
*.rar
*.7z
*.tar.gz
*.tar.bz2
*.tar.xz
*.gz
*.bz2
*.xz
*.zip
*.rar
*.7z
*.tar.gz
*.tar.bz2
*.tar.xz
*.gz
*.bz2
*.xz
*.zip
*.rar
*.7z
*.tar.gz